{% extends "treatment_app/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}
        עריכת משפחה - {{ form.instance.name }}
    {% else %}
        הוספת משפחה חדשה
    {% endif %}
{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-12">
        <h2>
            {% if form.instance.pk %}
                עריכת משפחה - {{ form.instance.name }}
            {% else %}
                הוספת משפחה חדשה
            {% endif %}
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form.address|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {{ form.therapist|as_crispy_field }}
                        </div>
                    </div>

                    <h4 class="mt-4">פרטי האב</h4>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.father_name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.father_phone|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.father_email|as_crispy_field }}
                        </div>
                    </div>

                    <h4 class="mt-4">פרטי האם</h4>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.mother_name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.mother_phone|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.mother_email|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12">
                            {{ form.notes|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.pk %}
                                    שמירת שינויים
                                {% else %}
                                    הוספת משפחה
                                {% endif %}
                            </button>
                            <a href="{% url 'treatment_app:family-list' %}" class="btn btn-secondary">ביטול</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">עזרה</h5>
            </div>
            <div class="card-body">
                <p>מלא את הפרטים הבאים:</p>
                <ul>
                    <li>שם המשפחה - שדה חובה</li>
                    <li>פרטי קשר - טלפון ואימייל</li>
                    <li>כתובת המשפחה</li>
                    <li>בחירת מטפל אחראי</li>
                    <li>פרטי ההורים - שם, טלפון ואימייל</li>
                    <li>הערות נוספות במידת הצורך</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
